.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1px 10px;
/* ^ vertical horizontal */
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
}


  /* minmax(width, height. 1fr means the columns should be equally sized.) */
  /* grid-gap gives separation b.w images */

  /* the problem with this css is the images span over the columns. */
